### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
Total_Players = purchase_data['SN'].count()  #780
Total_Players

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Unique_Items = purchase_data['Item ID'].nunique()  #183
Total_Revenue = purchase_data['Price'].sum()       #2379.77
Average_Price = Total_Revenue / Total_Players      #3.05

#New Data List
data = [{
        'Unique Items': Unique_Items, 'Average Price': Average_Price, 'Number of Purchases': Total_Players,
         'Total Revenue': Total_Revenue
       }] 

summary_data = pd.DataFrame(data)
summary_data["Average Price"] = summary_data["Average Price"].map("${:.2f}".format)
summary_data["Total Revenue"] = summary_data["Total Revenue"].map("${:.2f}".format)
summary_data.head()

   Unique Items Average Price  Number of Purchases Total Revenue
0           183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#1 Get frequency of unique member and gender
df = purchase_data.groupby(['Gender', 'SN']).size().reset_index(name='Freq')
#2 Get totals by Gender
df2 = df.groupby(['Gender']).count()
#3 picked up an extra column lets remove it - not sure why this happened
df2.columns = ['drop', 'Total Count'] 
df3 = df2.drop(['drop'], axis=1)

#4 Get the total percentage for each gender
df4 = df2.apply(lambda x :   100 * x / float(x.sum()))
#3 picked up an extra column lets remove it - not sure why this happened
df4.columns = ['drop2', 'Percentage of Players'] 
df5 =  df4.drop(['drop2'], axis=1)
#Concat both data sets into one and then reformat the percentage to 2dp and sort by Total Count

result = pd.concat([df3,df5], axis =1, ignore_index=False).sort_values(by='Total Count', ascending=False, na_position='first')
result['Percentage of Players'] = result['Percentage of Players'].map('${:,.2f}'.format)


result

                       Total Count Percentage of Players
Gender
Male                           484                $84.03
Female                          81                $14.06
Other / Non-Disclosed           11                 $1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
#Purchase Count Totals and Rename Column
Purchase_Count_df = purchase_data.groupby(['Gender'])['Purchase ID'].agg([np.size]).reset_index()
Purchase_Count_df.columns = ['Gender', 'Purchase Count'] 

Tot_Pur_Price_df = purchase_data.groupby(['Gender'])['Price'].agg([np.sum]).reset_index()
Tot_Pur_Price_df.columns = ['Gender', 'Total Purchase Value'] 

result = pd.concat([Purchase_Count_df,Tot_Pur_Price_df], axis =1, ignore_index=False)
result['Average Purchase Price'] = result['Total Purchase Value'] / result['Purchase Count']

result.set_index(['Gender'], inplace = True) 

result2 = pd.merge(left=Purchase_Count_df,right=Tot_Pur_Price_df, left_on='Gender', right_on='Gender')
result2['Average Purchase Price'] = result2['Total Purchase Value'] / result2['Purchase Count']

#2 Get totals by Gender

Count_by_Gender = purchase_data.groupby(['Gender', 'SN']).size().reset_index(name='Freq')
Count_by_Gender = Count_by_Gender.groupby(['Gender']).count()


Summary = pd.merge(left=result2,right=Count_by_Gender, left_on='Gender', right_on='Gender')
Summary['Average Total Purchase per Person'] = Summary['Total Purchase Value'] / Summary['Freq']
#result3['Avg Pur Price'] = result2['Total Purchase Value'] / result2['Purchase Count']
Summary.set_index(['Gender'], inplace = True) 
Summary['Average Total Purchase per Person'] = Summary['Average Total Purchase per Person'].map('${:,.2f}'.format)
Summary['Average Purchase Price'] = Summary['Average Purchase Price'].map('${:,.2f}'.format)
Summary['Total Purchase Value'] = Summary['Total Purchase Value'].map('${:,.2f}'.format)
Summary = Summary.drop(['SN', 'Freq'], axis=1)
#Reogranize Columns
Summary = Summary[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Average Total Purchase per Person']]
Summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame